.contact-main {
  width: 100vw;
  background-color: #222324; /* Background color similar to your website's theme */
}

.basic-contact {
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px 0;
}

.contact-heading-div {
  text-align: center;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  color: #a5c507; /* Color similar to your website's theme */
}

.contact-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 20px;
  font-family: "Google Sans Medium";
  color: #ffffff; /* Color similar to your website's theme */
}

.contact-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  min-height: 600px;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
  border: 1px solid #383838;
  
  /* From https://css.glass */
background: rgba(115, 115, 115, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid #a5c50784;

}

.form-title {
  color: #b6d109;
  text-align: center;
  font-size: 3rem;
}

.form-group {
  margin-bottom: 15px;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff; /* White color for labels */
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc00;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;

}

form button.form-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #b6d109;
  color: rgb(59, 59, 59);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  margin: 0 auto; /* Adicione esta linha */
  display: block; /* Adicione esta linha */
}

form button.form-button:hover {
  background-color: #87a103;
}

.thank-you-message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(115, 115, 115, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid #a5c50784;
  height: 200px;
}

.thank-you-message h2 {
  font-size: 24px;
  color: #ffffff;
}

.thank-you-message p {
  font-size: 18px;
  color: #ffffff;
}

.thank-you-message button.form-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #b6d109;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.thank-you-message button.form-button:hover {
  background-color: #a5c507;
}

.bullet-points {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  text-align: center;
  color: #ffffff;
}

.bullet-points li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Google Sans Medium";
  display: block;
  text-align: left;
  width: auto;
}

.bullet-points li::before {
  content: '✔';
  position: absolute;
  left: 0px;
  color: #b6d109;
  font-size: 22px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 40px;
  padding: 20px;
  background-color: #393a3b;
  border-radius: 5px;
}

.contact-info-left,
.contact-info-right {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #484848;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info-left h2,
.contact-info-right h2 {
  font-size: 24px;
  color: #a5c507;
  margin-bottom: 10px;
}

.contact-info-left p,
.contact-info-right p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 600px; 
}

.loading img {
  width: 100px;
  height: 100px;
}
.hidden {
  display: none;
}
.placeholder {
  visibility: hidden;
}
.consent-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.consent-container input {
  margin-right: 10px;
}

.consent-text {
  font-size: 14px;
  color: #ffffff; /* Cor branca para o texto */
}

.consent-text a {
  color: #b6d109; /* Cor similar ao tema do seu site */
  text-decoration: underline;
}

@media (max-width: 1380px) {
  .contact-heading-text {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .contact-heading-text {
    font-size: 30px;
  }

  .contact-header-detail-text {
    font-size: 16px;
    text-align: center;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-info-left,
  .contact-info-right {
    width: 100%;
    margin-bottom: 20px;
  }
}
