.main {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin: 0px auto;
 
}



.greet-main {
  max-width: 70%;
  padding: 10px 10px;
  margin: 0px auto;
  margin-top: 6vh;
  display: block;
 
}

.greeting-main {
  display: flex;
  /* text-align: center; */
}

.greeting-main > * {
  /* flex: 1; */
  margin-bottom: 0px;
}

.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  color: #1D1D1D;
  margin-top: 110px;
  font-size: 70px;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-div {
 
  margin-bottom: 40px;
  display: inline-flex;
  line-height: 4rem;
  /* margin-right: 40px; */
  font-family: "Google Sans Medium";
}

.greeting-text-static {
  color: #1D1D1D;
  margin-right: 5px;
  margin-bottom: 20px;
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

.greeting-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.greeting-hand-wave {
  width: 70px;
  height: auto;
}

/* CSS */
.button2 {
  align-items: center;
  appearance: none;
  background-color: #CCED31;
  border-radius: 1rem;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#6f8608 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans Regular",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
}

.button2:focus {
  box-shadow: #8da817 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button2:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button2:active {
  box-shadow: #8da817 0 3px 7px inset;
  transform: translateY(2px);
}



/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }

  .greeting-hand-wave {
    width: 50px;
  }

  .greeting-text-div {
    
    margin-bottom: 20px;
    /* text-align: center; */
  }

  .greet-main {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .button2 {
    font-size: 14px;
  }

  .greeting-text {
    font-size: 42px;
    margin-top: 20px;
    text-align: center;
  }

  .greeting-text-container {
    text-align: center;
  }

  .greeting-hand-wave {
    width: 30px;
  }

  .greeting-nickname {
    font-size: 25px;
    text-align: center;
  }

  .greeting-text-div {
    font-size: 20px !important;
    margin-right: 0px;
    line-height: normal;
    margin-bottom: 20px;
    /* text-align: center; */
  }

  .greeting-main {
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .main {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0px auto;
   
  }

  .greeting-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }



}

